<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AI Virtual Mouse</title>
    </head>
    <body>
    <input type="button" id='script' name="scriptbutton" value=" Run Script " onclick="exec('python AI_VIRTUAL_PAINTER.py');">
    </body>
</html>

<!--<!doctype html>-->


<!--<head>-->
<!--    <title>Test</title>-->
<!--    <meta charset=utf-8>-->
<!--</head>-->
<!--    <body>-->
<!--        <h1>My Website</h1>-->
<!--        <form action="/my-link/">-->
<!--            <input type="submit" value="Click me" />-->
<!--        </form>-->

<!--        <button> <a href="/my-link/">Click me</a></button>-->

<!--    </body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--  </head>-->
<!--  <body>-->
<!--    <input type="button" id='script' name="scriptbutton" value=" Run Script " onclick="goPython()">-->

<!--    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->

<!--    <script>-->
<!--        function goPython(){-->
<!--            $.ajax({-->
<!--              url: "AI_VIRTUAL_PAINTER.py",-->
<!--             context: document.body-->
<!--            }).done(function() {-->
<!--             alert('finished python script');;-->
<!--            });-->
<!--        }-->
<!--    </script>-->
<!--  </body>-->
<!--</html>-->

